html
    include partials/header.pug
    body
        div
            h1 Productos            
        if productos.length !== 0
            div 
                table(style={border: "1px solid black"})
                    tr(style={border: "1px solid black"})
                        th(style={border: "1px solid black"})  Title 
                        th(style={border: "1px solid black"})  Price 
                        th(style={border: "1px solid black"})  Thumbnail
                    each producto in productos
                        tr(style={border: "1px solid black"})
                            td(style={border: "1px solid black"})  producto.title 
                            td(style={border: "1px solid black"})  producto.price 
                            td(style={border: "1px solid black"})
                                img(src= producto.thumbnail)
        else
            p No hay productos cargados
        div
            h3 Para volver al formulario de carga de productos haga click 
                a(href='/') aquí
        include partials/footer.pug
        
    