<header>
    <%- include("./partials/header.ejs") %>
</header>
<body>
    <%- include("./partials/table.ejs") %>
    <h3>Haga click <a href="/">aca</a> para volver al formulario de carga de productos</h3>
</body>
<footer>
    <%- include("./partials/footer.ejs") %>
</footer>
</html>